body{

    background-color:#a9d2f2;
}
.mainimage {

    margin-left:25%;
    height: auto;

}

.wordpress {
    width:200px;
    position: absolute;
    bottom: 35%;
    right: 500px;


}         

.monitor {
    position: absolute;
    width: 200px;
    bottom: 35%;
    right: 800px;
}
